<style>
    section { padding: 1rem; }
</style>
<section>
    <h4>Filled Native</h4>
    <mdc-select native select-width="300" label="Select a fruit">
        <option class="mdc-list-item" disabled selected></option>
        <option class="mdc-list-item" value="apples">Fuji, Red Delicious</option>
        <option class="mdc-list-item" value="orange">Mandarin, Naval</option>
    </mdc-select> 
    <h4>Filled Native Disabled</h4>
    <mdc-select disabled native select-width="300" label="Select a fruit">
        <option class="mdc-list-item" disabled selected></option>
        <option class="mdc-list-item" value="apples">Fuji, Red Delicious</option>
        <option class="mdc-list-item" value="orange">Mandarin, Naval</option>
    </mdc-select> 
</section>
<section>
    <h4>Filled Enhanced</h4>
    <mdc-select select-width="300" label="Select another fruit">
        <li class="mdc-list-item" data-value=""></li>
        <li class="mdc-list-item" data-value="apples">Fuji, Red Delicious</li>
        <li class="mdc-list-item" data-value="orange">Mandarin, Naval</li>
    </mdc-select>
    <h4>Filled Enhanced Disabled</h4>
    <mdc-select disabled select-width="300" label="Select another fruit">
        <li class="mdc-list-item" data-value=""></li>
        <li class="mdc-list-item" data-value="apples">Fuji, Red Delicious</li>
        <li class="mdc-list-item" data-value="orange">Mandarin, Naval</li>
    </mdc-select>
</section>
<!-- outlined not implemented yet
<section>
    <h4>Outlined</h4>
    <mdc-select outlined native select-width="300" label="Select a fruit">
        <option class="mdc-list-item" disabled selected></option>
        <option class="mdc-list-item" value="apples">Fuji, Red Delicious</option>
        <option class="mdc-list-item" value="orange">Mandarin, Naval</option>
    </mdc-select> 
    <h4>Outlined Enhanced</h4>
    <mdc-select outlined select-width="300" label="Select another fruit">
        <li class="mdc-list-item" data-value=""></li>
        <li class="mdc-list-item" data-value="apples">Fuji, Red Delicious</li>
        <li class="mdc-list-item" data-value="orange">Mandarin, Naval</li>
    </mdc-select>
</section>
//-->