<style> section { padding: 1rem }</style>
<section>
    <mdc-button>Default</mdc-button>
    <mdc-button dense>Dense</mdc-button>
    <mdc-button icon="favorite">Icon</mdc-button>
    <mdc-button trailing icon="favorite">Trailing</mdc-button>
    <mdc-button disabled>Disabled</mdc-button>
</section>
<section>
    <mdc-button label="Labeled"></mdc-button>
    <mdc-button dense label="Dense"></mdc-button>
    <mdc-button dense label="Icon" icon="favorite"></mdc-button>
    <mdc-button dense trailing label="Trailing" icon="favorite"></mdc-button>
    <mdc-button label="Disabled" disabled></mdc-button>
</section>
<section>
    <mdc-button outlined>Outlined</mdc-button>
    <mdc-button outlined dense>Dense</mdc-button>
    <mdc-button outlined icon="favorite">Icon</mdc-button>
    <mdc-button outlined trailing icon="favorite">Trailing</mdc-button>
    <mdc-button outlined disabled>Disabled</mdc-button>
</section>
<section>
    <mdc-button raised>Raised</mdc-button>
    <mdc-button raised dense>Dense</mdc-button>
    <mdc-button raised icon="favorite">Icon</mdc-button>
    <mdc-button raised trailing icon="favorite">Trailing</mdc-button>
    <mdc-button raised disabled>Disabled</mdc-button>
</section>
<section>
    <mdc-button unelevated>Unelevated</mdc-button>
    <mdc-button unelevated dense>Dense</mdc-button>
    <mdc-button unelevated icon="favorite">Icon</mdc-button>
    <mdc-button unelevated icon="favorite" trailing>Trailing</mdc-button>
    <mdc-button unelevated disabled>Disabled</mdc-button>
</section>